.redText {
  color: red;
}

.hidden {
  visibility: hidden;
}

.searchBar{
  display: flex;
  justify-content: flex-start;
}

.item{
  margin-right: 15px;
}

#results {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#movieTitle {
font-weight: bold;
}

#errorCall {
  display: none;
  font-weight: bold;
  color: red;
  text-align: center;
}
